*{
    font-family: forma-djr-deck, sans-serif;
    margin: 0;
}


body{
    background-color: #0e1921;
}

p{
    font-weight: medium;
}

h1{
    font-weight: medium;
    text-transform: uppercase;
    color: #FF4454;
    font-size: 40px;
}

/* -------------------- loginpage --------------------*/

#loginPage{
    display: flex;
}

.image{
    overflow: hidden;
    max-height: 1080px;
}

#column1, #form{
    margin-top: 10%;
    margin-left: 10%;
    flex: 40%;
}

/* -------------------- form --------------------*/


.form{
    padding: 0;
    border-radius: 20px;
}

form {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

input[type=text], input[type=password]{
    background-color: #0e1921;
    color: #585858;
    box-sizing: border-box;
    border: 1px solid #585858;
    border-radius: 10px;
    padding: 8px 15px;
    margin-top: 20px;
    width: 80%;

    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

input[type=text]:focus, input[type=password]:focus {
    outline: none;
    color: #fff;
}

.button{
    cursor: pointer;
    color: #000;
    background-color: #fff;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 8px 20px;
    margin-top: 20px;
    width: 40%;

    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

.button:hover{
    transition: ease 100ms;
    color: white;
    background-color: #FF4454;
    border: 1px solid #FF4454;
    padding: 8px 20px;
}

#loginButton{
    width: 40%;
}

#createAccountLink{
    margin-top: 20px;
}

#loginPage p, #pageDiv p{
    margin-top: 20px;
    font-weight: 500;
    color: #585858;
}

#form p{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}

a{
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: #FF4454;
    transition: ease 100ms;
}

/* -------------------- agents --------------------*/

#main{
    max-width: 70%;
    margin: auto;
    color: #bdbdbd;
    background-color: #0e1921;
    background-image: src("./images/valorantBg2.jpeg");
}

#main h2{
    color: #fff;
}
#main h3{
    color: #fff;
}
#main h4{
    color: #fff;
}

#agentContainer{
    background:rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

.agent{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    padding: 50px;
    box-shadow: 0px 3px 3px #000;
    backdrop-filter: blur(10px);
}

#agentInfo{
    max-width: 50%;
}

#agentImage{
    max-width: 100%;
    overflow: hidden;
}

#agentBg{
    display: block;
    position: absolute;
    float: left;
}

/* -------------------- agentIcons --------------------*/

#agentIcons{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
    align-content: space-evenly;
}

.icon {
    height: 80px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 3px #000;
}
.icon img{
    max-height: 80px;
    overflow: hidden;
}

